:root {
    --azul: #014d80;
    --verde-claro: #70fd8f;
    --verde-escuro: #68d1bf;
    --roxo: #838cf1;
    --vermelho: #ea6b66;
    --azul-desaturado: #3cb1ff;
    --cinza: #829c9d;
    --cinza-claro: #e0e0e0;
    --amarelo: #ffe68d;
    --preto: #000000;
    --branco: #ccc7c7;
    --laranja: #ed974f;
    --rosa: #efa8b0;
    --vinho: #d33e6d;
}

.lista {
    width: 80%;
    display: flex;
    overflow: auto;
}

.item {
    background-color: var(--vinho);
    width: 100px;
    height: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.tabela {
    width: 100%;
    display: flex;
    border-left: 2px solid var(--preto);
    border-bottom: 2px solid var(--preto);
    border-right: 2px solid var(--preto);
    padding: 5px 0px 5px 0px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    right: 80%;
}

.tabelaTitulo {
    left: 20%;
    width: auto;
    display: flex;
    align-items: center;
}

.titulo {
    margin-right: 3rem;
    padding-left: 0.5rem;
    font-size: 20px;
    width: 100px;
    margin-left: 1rem;
    border-left: 1px solid var(--preto);
}

.raia1 {
    background-color: var(--verde-escuro);
    border-top: 2px solid var(--preto);
}

.raia2 {
    background-color: var(--roxo);
}

.raia3 {
    background-color: var(--laranja);
}

.raia4 {
    background-color: var(--rosa);
}

.guia {
    background-color: var(--cinza-claro);
    border: 1px solid var(--preto);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 5px;
}

.guia p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid var(--preto);
    background-color: var(--cinza);
    margin-top: 0px;
    border-radius: 10px;
}

.exemplos {
    display: flex;
    align-items: center;
    width: auto;
}

.exemplo {
    padding: 10px;
    height: 90px;
    width: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.exemplo1 {
    background-color: var(--azul-desaturado);
    margin-left: 5px;
}

.exemplo2 {
    background-color: var(--vinho);
}

.exemplo3 {
    background-color: var(--amarelo);
    margin-right: 5px;
}

/* ------------------------------------ */
